*.pyc
*.pdf
*.docx
*.doc
mdeia/
media/documents/
media/documents/modified/
.media
.media/documents/
.media/documents/modified/
__pycache__/
instance/   
.env
venv/
.envrc
.idea/
.vscode/
.DS_Store
mypy_cache/
.pytest_cache/
.coverage
